
scripts/libthulac.so
/data/train.en
/data/train.zh
/.idea/
/nmt/*/*.pyc
/nmt/*.pyc
model/*
model/*/*
stf_data/*
stf_data/*/*
actual_data/*
actual_data/*/*
!actual_data/dev_seg.zh
!actual_data/dev_seg.en
nohup.out
vocab.en_bak
vocab.zh_bak
